<form action=<%="/#{@document.name}/edit"%> method="post">
  <dl>
    <dt>
      <label for="file_name">Edit content of <%=@document.name%></label>
    </dt>
    <textarea name="file_content" rows="30" cols="135"><%=@document.raw_content%></textarea>
  </dl>
  <fieldset class="submit">
    <input type="submit" value="Save Changes">
  </fieldset>
</form>
