<div class="grid_4 push_4" id="login-form">
  <form class="login-form-box" action="/users/signin" method="post">
    <div class="login-form-input-text">
      <label for="username" class="title">Username</label>
      <input class="login-input" id="username" name="username" type="text" value="<%= @username %>">
    </div>
    <div class="login-form-input-text">
      <label for="password" class="title">Password</label>
      <input class="login-input" id="password" name="password" type="password" value="">
    </div>
    <div class="submit">
      <input value="Sign In" id="submit" type="submit">
    </div>
  </form>
</div>